%% -*- mode: erlang -*-
[
 {rabbit,
  [
   %% Network -----------------------------------------------------------------

   {tcp_listeners, [5672]},
   {handshake_timeout, 10000},
   {log_levels, [{connection, info}]},
   {reverse_dns_lookups, false},
   {heartbeat, 600},
   % {ssl_listeners, [5671]},

   %% Security ----------------------------------------------------------------

   {auth_mechanisms, ['PLAIN', 'AMQPLAIN']},
   {loopback_users, [<<"guest">>]},
   %% {ssl_options, [{cacertfile,           "/path/to/testca/cacert.pem"},
   %%                {certfile,             "/path/to/server/cert.pem"},
   %%                {keyfile,              "/path/to/server/key.pem"},
   %%                {verify,               verify_peer},
   %%                {fail_if_no_peer_cert, false}]},
   %% {ssl_cert_login_from, common_name},
   %% {ssl_handshake_timeout, 5000},

   %% Defaults ----------------------------------------------------------------

   {default_vhost,       <<"/">>},
   {default_user,        <<"ADMIN_USER">>},
   {default_pass,        <<"ADMIN_PASS">>},
   {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
   {default_user_tags, [administrator]}

  ]},

 %% ===========================================================================

 {rabbitmq_management,
  [
   %% {load_definitions, "/etc/rabbitmq/definitions.json"},
   {http_log_dir, "/var/log/rabbitmq/plugin-rabbitmq_management.log"},
   %% 'basic', 'detailed' or 'none'
   {rates_mode, basic}

  ]}
].
